#get-music-button{
  background-color: black;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://richiejohnston.files.wordpress.com/2014/06/neversummerwpverde.jpg?w=672&h=372&crop=1")
}